.whole{
    width: 90%;
    box-shadow: 0px 0px 50px rgba(2, 2, 47, 0.386);
    border-radius: 15px;
    padding: 15px;
    margin: auto;
    display: grid;
    grid-template-columns: 120px 1fr;
}

.days{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    padding: 4px;
    background-color: white;
    column-gap: 1px;
    border-radius: 5px;
    justify-content: space-between;
}
.days > span{
    color: white;
    background-color: rgb(98, 136, 198);
    padding: 3px;
    text-align: center;
    width: 100%;
}

.days > span:first-of-type{
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.days > span:last-of-type{
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.halls{
    max-width: 95%;
    overflow-x: scroll;
    width: min-content;
    display: grid;
    grid-template-rows: 150px 150px 150px;
    column-gap: 3px;
    grid-auto-flow: column;
    row-gap: 3px;
    margin-left:40px ;
}

.groups{
    max-width: 95%;
    overflow-x: scroll;
    white-space: nowrap;
}

.groups > div{
    background-color: rgb(130, 213, 130);
    color:white;
    padding: 4px;
    margin: 2px;
    width: min-content;
    border-radius: 4px;
    display: inline-block;
}

.halls > div{
    background-color: bisque;
    width: 150px;
    border-radius: 6px;
    
}

.name{
    font-size:35px;
    font-weight: 700;
    color: rgb(233, 178, 112);
}
.teachers{
    padding: 2px;
    border-right: 2px solid darkblue;
}

.teachers > div{
    color: white;
    padding: 5px;
    border-radius:5px ;
    background-color: rgb(98, 136, 198);;
    margin-top: 3px;
}

